.card-wrapper {
  width: 451px;
  height: 279px;
  padding: 0;
  display: grid;
  grid-template-columns: 183px 2fr;
  grid-template-rows: 1fr 3fr;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.movie-img {
  height: 100%;
}
.card-grid-img {
  grid-row: 1/3;
}
.card-grid-header {
  padding: 8px;
  grid-column: 2 / auto;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: auto 40px;
  grid-auto-rows: minmax(1fr 2fr) 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.card-grid-body {
  padding: 0 8px;
}
.card-title {
  line-height: 28px;
  margin: 0;
}
.card-date {
  grid-column: 1/3;
}
.card-genre {
  grid-column: 1/3;
}
.vote-average {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
  border-radius: 100%;
}
.bad-rate {
  border-color: #e90000;
}
.low-rate {
  border-color: #e97e00;
}
.middle-rate {
  border-color: #e9d100;
}
.hight-rate {
  border-color: #66e900;
}

.card-desc {
  max-width: 100%;
  padding-right: 10px;
}
.card-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.skeleton-img {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 991px) {
  .card-wrapper {
    width: 100%;
    height: 279px;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 2fr;
  }

  .card-grid-img {
    padding: 10px;

    grid-row: 1/2;
  }

  .card-grid-body {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-column: 1/3;
    padding: 10px;
  }
  .card-star {
    justify-self: end;
  }
}
@media (max-width: 575px) {
  .card-wrapper {
    height: 279px;
    grid-template-columns: 2fr 7fr;
  }

  .card-grid-img {
    padding: 6px 10px;

    grid-row: 1/2;
  }

  .card-grid-body {
    grid-template-rows: 1fr 2fr;
    padding: 0 10px;
  }
}
